
.textHero {
  color: #003780;
  animation: clignote 2s linear infinite;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}
@keyframes clignote {
  50% { opacity: 0.2; }
}

.scroller{
  overflow: scroll;
}
